html{
    background-color: #c4c4c4;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: seagreen;
}

input[type=submit]:hover{
    background-color: lightseagreen;
}
